<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Director_of_Entry_AND_Exit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Director_of_Entry_AND_Exit.Properties.Settings.Dr_DBConnectionString"
            connectionString="Data Source =.\SQLEXPRESS; Initial Catalog = &quot;Director of Entry AND Exit_DB&quot;; Integrated Security = True" />
        <add name="Director_of_Entry_AND_Exit.Properties.Settings.Director_of_Entry_AND_Exit_DBConnectionString"
            connectionString="Data Source=DESKTOP-AU9NMPT\SQLEXPRESS;Initial Catalog=&quot;Director of Entry AND Exit_DB&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <Director_of_Entry_AND_Exit.Properties.Settings>
            <setting name="Server" serializeAs="String">
                <value>DESKTOP-AU9NMPT\SQLEXPRESS</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>Director of Entry AND Exit_DB</value>
            </setting>
            <setting name="Mode" serializeAs="String">
                <value>SQL</value>
            </setting>
            <setting name="ID" serializeAs="String">
                <value>aahmad</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>password</value>
            </setting>
            <setting name="isChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isTrial" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isLicensed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Trial" serializeAs="String">
                <value />
            </setting>
            <setting name="CalDate" serializeAs="String">
                <value />
            </setting>
            <setting name="KT" serializeAs="String">
                <value>53%53%51*</value>
            </setting>
            <setting name="m1" serializeAs="String">
                <value />
            </setting>
            <setting name="m2" serializeAs="String">
                <value />
            </setting>
            <setting name="m3" serializeAs="String">
                <value />
            </setting>
            <setting name="m4" serializeAs="String">
                <value />
            </setting>
            <setting name="GI" serializeAs="String">
                <value />
            </setting>
            <setting name="FullName" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="U" serializeAs="String">
                <value>ahmad</value>
            </setting>
            <setting name="P" serializeAs="String">
                <value>ahmadmoha</value>
            </setting>
        </Director_of_Entry_AND_Exit.Properties.Settings>
    </userSettings>
</configuration>
